body {
  margin: 10px;
}

.box {
  width: 200px;
  height: 200px;
  background: dodgerblue;
  border: 10px dashed royalblue;
  border-top-width: 10px;
  border-bottom: 1px solid yellow;
  border-width: 10px 10px;
  /* border-bottom-width: 100px; */
  border-radius: 50%;
}
